/* CSS Reset */
* { margin:0; padding:0; }
body {
	/*background: url(../images/body_bg.jpg) repeat-x 0px 0px;*/
	font-family: Arial, Helvetica, sans-serif;
}
#container {
	width:960px;
	margin:0 auto;
	padding: 0 10px;
}
#header {
	position:relative;
	width: 100%;
}
#header h1 {
	display:block;
	float:left;
	width:360px;
	height:115px;
	background:url(../images/logo.jpg) no-repeat 0 0;
	text-indent:-9999px;
}
#header h1 a {
	display:block;
    height:100%;
	width:100%;
}
#header #search {
	height: 47px;
	position: absolute;
	top: 41px;
	right: 0;
	text-align:right;
	padding: 5px 50px 0 0;
}
#center {
	margin: 45px 0 0;
	padding: 10px;
	min-height: 340px;
	width: 940px;
	clear: both;
}
#footer {
	margin: 45px 0 0;
}
#footer .content {
	padding: 10px;
	text-align:right;
	font-size: .8em;
}
