{% extends "base.html" %}

{% block head %}
<!-- extjs -->
<link rel="stylesheet" type="text/css" href="/media/js/lib/ext-3.2.0/resources/css/ext-all.css" />

<script type="text/javascript" src="/media/js/lib/ext-3.2.0/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/media/js/lib/ext-3.2.0/ext-all.js"></script>

<!-- logindialog -->
<link rel="stylesheet" type="text/css" href="/media/js/lib/logindialog/css/flags.css" />
<link rel="stylesheet" type="text/css" href="/media/js/lib/logindialog/css/virtualkeyboard.css" />

<script type="text/javascript" src="/media/js/lib/logindialog/js/virtualkeyboard.js"></script>
<script type="text/javascript" src="/media/js/lib/logindialog/js/plugins/virtualkeyboard.js"></script>
<script type="text/javascript" src="/media/js/lib/logindialog/js/Ext.ux.Crypto.SHA1.js"></script>
<script type="text/javascript" src="/media/js/lib/logindialog/js/Ext.ux.form.IconCombo.js"></script>
<script type="text/javascript" src="/media/js/lib/logindialog/js/Ext.ux.form.LoginDialog.js"></script>

<!-- application -->
<link rel="stylesheet" type="text/css" href="/media/css/base.css" />
<link rel="stylesheet" type="text/css" href="/media/css/icons.css" />
<link rel="shortcut icon" href="/media/images/icons/asterisk_orange.png"/>

<script type="text/javascript" src="/media/js/application.exercises.js"></script>
<script type="text/javascript" src="/media/js/application.js"></script>
{% endblock %}

{% block body %}
<div id="header">
	<h1><a href="/">Ewry Dej Hard Trejning</a></h1>
	{% if user.is_authenticated %}
	{% load gravatar_tags %}
	<div id="user">
		<div class="box">
			<div class="user-name"><a href="/">{{ user.first_name }} {{ user.last_name }}</a></div>
			<div class="user-profile"><a href="/">Zobacz mój profil</a></div>
			<div class="logout"><a href="{% url logout %}">wyloguj</a></div>
		</div>
		<a href="/">
			<img src="{% gravatar_url user.email 45 %}" width="45" height="45" alt="[ {{ user }} ]" style="border: 2px solid white">
		</a>
	</div>
	{% endif %}
</div>
{% endblock %}
